
.caja .content .percent {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .caja .content .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 20px;
    background: #032ff7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f6feff;
    -webkit-text-stroke: 1px hsla(240, 32%, 91%, 0.877);
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  
  .caja .content .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  .caja .content .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: rgba(6, 26, 252, 0.811);
    transform: translate(5px, 5px);
  }
  
  .caja .content .percent svg circle:nth-child(2) {
    stroke: #0affef;
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .caja .content .percent .dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
  }
  
  @keyframes animateDot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(calc(3.6deg * var(--num)));
    }
  }
  
  .caja .content .percent .dot::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background: #1d2722;
    border-radius: 50%;
  }
  
  .caja .content .number {
    position: relative;
    inset: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  /*quite content number h2*/
  
  /*quite content number h2 span*/
  
  
  h1.skill{
    font-weight:lighter;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aqua;
    -webkit-text-stroke: 1px hsl(60, 3%, 6%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 73, 132, 0.992);
  }
  
  