.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  color:rgb(8, 82, 82);

}

.modal-content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color:#0f2f4f;
  pointer-events: auto;
  background-color: #032649;
  background-clip: padding-box;
  border:1px  solid;
  border-radius: 0.5rem;
  outline: 0;
}

.modal-title{
  align-content: center;
}

.modal-body{
  color:rgb(179, 14, 14);
}



.col-sm-10{
  color:rgb(2, 12, 49);
}

.col-sm-10{
  margin:1rem;
}

.btn.btn-primary{
  --bs-btn-bg: rgb(7, 22, 107);
}

.btn-outline-dark {
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: rgb(26, 18, 121);
  --bs-btn-active-bg: rgb(0, 251, 255);
}
