<div class="container_title" id="estudios">
  <h2>Mis Estudios:</h2>
</div>
<div class="container_est">
  <div class="container_edu" *ngFor="let studies of studiesData">
    <div class="box_edu_1">
      <img [src]="studies.logo_url" alt="" />
    </div>
    <div class="box_edu_2">
      <h4>
        {{ studies.name }} | {{ studies.institution }} | {{ studies.title }}
      </h4>
      <h6>Desde: {{ studies.startDate }} | Hasta: {{ studies.endDate }}</h6>
      <p
        *ngIf="!studies.showFullText"
        [innerHTML]="(studies.about | slice : 0 : 200) + '...'"
      ></p>
      <a *ngIf="!studies.showFullText" (click)="studies.showFullText = true"
        ><i class="fa-solid fa-caret-down"></i
      ></a>
      <p *ngIf="studies.showFullText" [innerHTML]="studies.about"></p>
      <a *ngIf="studies.showFullText" (click)="studies.showFullText = false"
        ><i class="fa-solid fa-caret-down fa-rotate-180"></i
      ></a>
    </div>
    <div class="box_crud" *ngIf="logged">
      <button class="edit-btn" (click)="edit(studies)">
        <i class="fa-solid fa-pencil"></i>
      </button>
      <button class="delete-btn" (click)="delete(studies.study_id)">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="box_crud" *ngIf="logged">
    <button class="add-btn" (click)="add()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <app-add-btn
    *ngIf="showAddBtn"
    (onAddStudy)="addStudy($event)"
    (closeAddBtn)="showAddBtn = false"> 
  </app-add-btn>
  <app-edit-btn
    *ngIf="showEditBtn"
    [study]="selectedStudy"
    (onEditStudy)="editStudy($event)"
    (closeEditBtn)="showEditBtn = false">
  </app-edit-btn>
</div>