.container_title {
  width: 100%;
  padding: 40px 8px 8px 8px;
  background-color: #000;
}

.container_title h2 {
  color: #00ffff;
}

.container_title h2::after {
  content: "";
  display: block;
  width: 26%;
  height: 3px;
  margin-top: 1rem;
  background-color: #00ffff;
}

.container_est {
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  background-color: #000;
}

.container_est::after {
  content: "";
  display: block;
  width: 44%;
  height: 1px;
  float: right;
  margin-top: 1rem;
  background-color: #00ffff;
}

.container_edu {
  width: 40%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.box_edu_1 {
  width: 20%;
  max-width: 200px;
}

.box_edu_1 img {
  width: 100%;
}

.box_edu_2 {
  width: 80%;
  padding: 4px;
  border-left: 1px solid #00ffff;
}

.box_edu_2 h4 {
  color: #90ffff;
}

.box_edu_2 a {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  border-top: 1px solid #00ffff;
  color: #90ffff;
}

.box_edu_2 a:hover {
  background-color: #070707;
  color: #00ffff;
}

@media only screen and (max-width: 820px) {
  .container_edu {
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .box_edu_1, .box_edu_2 {
    width: 100%;
  }
}